@use 'base/mixins' as m;
@use 'base/variables' as v;

.sobre-festival{
    padding: 5rem 0;
    @include m.tablet{
        @include m.grid(2, 5rem);
    }
    .imagen{
    }
    .contenido-festiva{
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include m.tablet{
            margin-top: 5rem;   
        }
        h2{
            margin-bottom: 2rem;
        }
        .fecha{
            color: v.$rosa;
            font-weight: 700;
    
        }
    }

    }
   