@use 'base/mixins' as m;
@use 'base/variables' as v;

.site-footer{
    background-color: v.$rosa;
    p{
        padding: 1rem;
        margin: 0;
        text-align: center;
        color:v.$blanco;
        font-weight: 500;
    }
}