.alerta{
    padding: .5rem;
    color: $blanco;
    text-align: center;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 1rem 0;
    border: .1rem solid $blanco;
    &.error{
        background-color: $rojo;
    }
    &.exito{
        background-color: $verde;
    }
}
table.propiedades{
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;
    border: 0.2rem solid $gris;

    thead{
        background-color: $verde;
        th{
            color: $blanco;
            padding: 1rem;
            border: 0.2rem solid $gris;

        }
    }
    td{
        border: 0.2rem solid $gris;

    }
    .imagen-tabla{
        width: 10rem;
    }
}
.imagen_small{
    width: 20rem;
}