@use 'variables' as v;

@mixin phone {
    @media (min-width : v.$phone){
        @content;
    }
}
@mixin tablet {
    @media (min-width : v.$tablet){
        @content;
    }
}
@mixin desktop {
    @media (min-width : v.$desktop){
        @content;
    }
}
@mixin desktopxl {
    @media (min-width : v.$desktopxl){
        @content;
    }
}
@mixin grid ($columna, $gap){
    gap: $gap;
    display: grid;
    grid-template-columns: repeat($columna,1fr);
    
}
@mixin resetear-lista{
    margin: 0;
    padding: 0;
    list-style: none;
}