.dark-mode{
    background-color: darken($grisOscuro, 10);

    p{
        color: $blanco;
    }
    a, h1, h2, h3, h4{
        color: $gris;
    }

    .anuncio{
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;
    }
    .precio{
        color: $verde;
    }

    li .icono{
        filter: invert(100%);
    }

    .nosotros blockquote{
        color: $blanco;
    }

    .formulario{
        label, legend, p, input{
            color: $gris;
        }
        input:not([type="submit"]), textarea, select{
            background-color: $grisOscuro;
            border: 1px solid $grisOscuro;
            color: $blanco;
        }
    }
}